
@font-face{
	src:url(../fonts/PlayfairDisplay-Regular.otf);
	font-family: PlayfairDisplay-Regular;
}
@font-face{
	src:url(../fonts/PlayfairDisplay-Bold.otf);
	font-family: PlayfairDisplay-Bold;
}

body{
	margin:0;
	padding:0;
	font-family:PlayfairDisplay-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}


/*****header start*****/
header{
	padding: 20px 0;
	
}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.logo{
	margin-top: 14px;
	float: left;
	width: 13%;	
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 70%;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	margin: 0 50px;
	padding: 5px;
	display: inline-block;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom:1px solid transparent;
}
.menu ul li:last-child a{
	margin-right:0;
}
.menu ul li a:hover{
	border-bottom:1px solid #626262;
}
/*****header end******/

/*****banner start*****/
.banner{
	width: 100%;
	margin: auto;
}
.banner img{
	width: 100%;
}
/******banner end******/

/*****photo diary start*****/
.photodiary{
	margin: auto;
	padding: 10px 9px;
	width: 80%;
	/*border: 1px solid red;*/
}
h1{
	margin: 15px 0px;
	color: #626262;
	text-transform: capitalize;
	font-family: PlayfairDisplay-Regular;
	font-size: 30px;
}
h6{
	margin-top: 30px;
	color: #b4ad9e;
	text-transform: uppercase;
	font-family: PlayfairDisplay-Regular;
	font-size: 16px;
}

p{
	line-height: 26px;
	font-family: PlayfairDisplay-Regular;
	font-weight: 300;
	font-size: 15px;
	color: #626262;
}

/*****photo diary end******/

/******leave a comment start******/
.lifestyle{
	width: 80%;
	margin: auto;
	margin-top: 60px;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.lifestyle1{
	margin-top: 50px;

	width: 47%;
	float: left;
}
.lifestyle1 img{
	width: 100%;
}
.lifestyle2{
	margin-top: 50px;
	width:47%;
	float: right;
}
.lifestyle2 img{
	width: 100%;
}
/*****leave a comment end******/

/*****Newslatter Part Start*****/

.newslatter{
	padding: 75px 0;
	background: #f0f0f0;
}
.news-content{
	width: 50%;
	margin:0 auto;
	text-align: center;
}
.news-content input{
	width: 380px;
	padding: 8px 10px;
	background: #f0f0f0;
	border: none;
	border-bottom: 1px solid black;
}
.news-content h1{
	margin-bottom: 80px;
	font-weight: 300;
	font-size: 35px;
}
.news-content img{
	position: relative;
	right: 35px;
	top:5px;
}

/*****Newslatter Part End*****/

/*****button start/*****/
.button{
	text-align: center;
	margin: 100px 0px;
}
.button button{
	background: transparent;
	border: 1px solid #dddcd7;
	padding: 13px 25px;
	font-size: 18px;
	color: #626262;
	cursor: pointer;
	transition: all .5s ease;
	
}
.button button:hover{
	background-color: #f0f0f0;
}
/******Button end******/


/*****Footer start*****/
footer{
    padding: 25px 0;
    background: #F0F0F0;
   }
.f-menu{
    width: 50%;
    float: left;
}
.f-menu ul{

}
.f-menu ul li {
    list-style: none;
    float: left;
}
.f-menu ul li a {
    padding: 0 10px;
    text-decoration: none;
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    color: #626262;
}
.fm-right{
    width: 50%;
    float: right;
}
.fm-right ul {
    float: right;
}
.fm-right ul li {
    list-style: none;
    float: left;
}
.fm-right ul li a {
    padding: 0 10px;
    text-decoration: none;
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
    font-size: 16px;
    color: #626262;

}
.fm-right ul li:hover a {
	color: #000000;
}
/*footer end*/

